In [51]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [52]:
iowa_file_path = 'train.csv'

home_data = pd.read_csv(iowa_file_path)

home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [53]:
melbourne_file_path = 'melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [54]:
melbourne_data = melbourne_data.dropna(axis=0)

In [55]:
y = melbourne_data.Price

In [56]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [57]:
X = melbourne_data[melbourne_features]

In [58]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [59]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [60]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [61]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [62]:
predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [63]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [64]:
melbourne_model = DecisionTreeRegressor()

In [65]:
melbourne_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [66]:
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

269612.58618463523

In [67]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [68]:
for max_leaf_nodes in range(5, 5000, 100):
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 105  		 Mean Absolute Error:  270062
Max leaf nodes: 205  		 Mean Absolute Error:  270069
Max leaf nodes: 305  		 Mean Absolute Error:  265474
Max leaf nodes: 405  		 Mean Absolute Error:  261479
Max leaf nodes: 505  		 Mean Absolute Error:  261752
Max leaf nodes: 605  		 Mean Absolute Error:  260656
Max leaf nodes: 705  		 Mean Absolute Error:  261661
Max leaf nodes: 805  		 Mean Absolute Error:  260776
Max leaf nodes: 905  		 Mean Absolute Error:  261933
Max leaf nodes: 1005  		 Mean Absolute Error:  262645
Max leaf nodes: 1105  		 Mean Absolute Error:  262448
Max leaf nodes: 1205  		 Mean Absolute Error:  263761
Max leaf nodes: 1305  		 Mean Absolute Error:  264451
Max leaf nodes: 1405  		 Mean Absolute Error:  265625
Max leaf nodes: 1505  		 Mean Absolute Error:  265527
Max leaf nodes: 1605  		 Mean Absolute Error:  265898
Max leaf nodes: 1705  		 Mean Absolute Error:  266449
Max leaf nodes: 1805  		 Mean Absolute Error:  267357
Max leaf nodes: 1905  		 Mean Absolute Error:  268523
Max leaf nodes: 2005  		 Mean Absolute Error:  268818
Max leaf nodes: 2105  		 Mean Absolute Error:  269335
Max leaf nodes: 2205  		 Mean Absolute Error:  269988
Max leaf nodes: 2305  		 Mean Absolute Error:  270187
Max leaf nodes: 2405  		 Mean Absolute Error:  270979
Max leaf nodes: 2505  		 Mean Absolute Error:  271006
Max leaf nodes: 2605  		 Mean Absolute Error:  271341
Max leaf nodes: 2705  		 Mean Absolute Error:  271282
Max leaf nodes: 2805  		 Mean Absolute Error:  271701
Max leaf nodes: 2905  		 Mean Absolute Error:  271458
Max leaf nodes: 3005  		 Mean Absolute Error:  271722
Max leaf nodes: 3105  		 Mean Absolute Error:  271886
Max leaf nodes: 3205  		 Mean Absolute Error:  272085
Max leaf nodes: 3305  		 Mean Absolute Error:  272069
Max leaf nodes: 3405  		 Mean Absolute Error:  271888
Max leaf nodes: 3505  		 Mean Absolute Error:  271915
Max leaf nodes: 3605  		 Mean Absolute Error:  271923
Max leaf nodes: 3705  		 Mean Absolute Error:  271865
Max leaf nodes: 3805  		 Mean Absolute Error:  271965
Max leaf nodes: 3905  		 Mean Absolute Error:  271964
Max leaf nodes: 4005  		 Mean Absolute Error:  272011
Max leaf nodes: 4105  		 Mean Absolute Error:  272025
Max leaf nodes: 4205  		 Mean Absolute Error:  271980
Max leaf nodes: 4305  		 Mean Absolute Error:  271992
Max leaf nodes: 4405  		 Mean Absolute Error:  271999
Max leaf nodes: 4505  		 Mean Absolute Error:  271995
Max leaf nodes: 4605  		 Mean Absolute Error:  271996
Max leaf nodes: 4705  		 Mean Absolute Error:  271996
Max leaf nodes: 4805  		 Mean Absolute Error:  271996
Max leaf nodes: 4905  		 Mean Absolute Error:  271996

In [69]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

/home/eugenekalentev/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

218482.25517538196